/bin/
*.DS_Store
/build
/target
/.gradle
/.gradle*
/out
/logs
/.idea
*.iml
#/.settings
/work
WebContent/.idea/
*.log
*.log.*
*.swp

*.class
/.settings
.project
.classpath

# Package Files #
*.war
*.ear
.h2
.meghanada
